<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1 class="display-4">Formulario App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate veritatis corporis, harum magni reprehenderit voluptatibus officiis aut voluptatum sed praesentium officia corrupti provident fugiat repellat quos modi unde? Repellat, quos!</p>
    <a href="https://github.com/EduardoFuques/AppFormulario/" class="btn btn-info btn-lg">Repositorio GH</a>
</div>